# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea/

# Logs and local databases
*.log
*.sqlite3

# OS-specific
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/